
body{
    background-color: black;
    max-width: 100%;
    overflow-x:hidden;  
}
.container{
    background-color: #ffff;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    width: 40%;
    padding: 20px 0;
    font-size: 20px;
    font-weight: 500;
    font-family:Arial, Helvetica, sans-serif;
    border-radius: 6px;
    color:white;
    justify-items: center;
    display: grid;
    background-color: #333231;
}
.wrapper{
    width: 100%;
    text-align: center;
    
}
input[type="range"]
{
    display:inline-block;
    width: 60%;
    margin-left:10px;
    margin-top: 25px;
   
}
input#red{
  background: linear-gradient(to right, #000,red);
  border: solid 1px #82CFD0;
  border-radius: 8px;
  height: 10px;
  outline: none;
  transition: background 450ms ease-in;
  -webkit-appearance: none;
}
input#blue{
  background: linear-gradient(to right, #000,blue);
  border: solid 1px #82CFD0;
  border-radius: 8px;
  height: 10px;
  outline: none;
  transition: background 450ms ease-in;
  -webkit-appearance: none;
}
input#green{
  background: linear-gradient(to right, #000,green);
  border: solid 1px #82CFD0;
  border-radius: 8px;
  height: 10px;
  outline: none;
  transition: background 450ms ease-in;
  -webkit-appearance: none;
}
input[type='range']::-webkit-slider-thumb {
  width: 10px;
  -webkit-appearance: none;
  height: 10px;
  cursor: ew-resize;
  background: white;
  border-radius: 50%;
}
#output{
    display: inline-block;
    text-align: center;
    background: white;
    margin:20px 0;
    color:#8e8b8d;
    padding:10px 30px;
    font-size: 18px;
    border-radius: 2px;
    letter-spacing: 0.5px;
}
#rdcolor{
  font-size: 10px;
  background: transparent;
  color:white;
  outline: none;
  padding: 10px;
  border-radius: 50px;
  letter-spacing: 1.5px;
  font-family: 'Poppins',sans-serif;
}
span:hover{
    cursor: pointer;
}
#Notify{
    display:none;
    position: absolute;
    right:0;
    text-align: center;
    background: white;
    margin:20px 0;
    color:lightskyblue;
    padding:10px 30px;
    font-size: 18px;
    border-radius: 2px;
    letter-spacing: 0.5px;
    animation: show 1s ease-in forwards;
}
.fa-copy{
    margin-right:10px;
}
@keyframes show{
    0%{
      transform: translateX(100%);
    }
    40%{
      transform: translateX(-10%);
    }
    80%{
      transform: translateX(0%);
    }
    100%{
      transform: translateX(-10px);
    }
  };
